@using GroupTrip.Shared.Models
@page "/addtrip"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Create</h1>
<h3>Trip</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Location" class="control-label">Location</label>
                <input for="Location" class="form-control" bind="@trip.Location" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" bind="@trip.Description" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" type="date" bind="@trip.StartDate" format-value="yyyy-MM-dd" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" type="date" bind="@trip.EndDate" format-value="yyyy-MM-dd" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" onclick="@(() => CreateTrip())">Save</button>
                <button class="btn" onclick="@Cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

@functions {

    private Trip trip = new Trip();

    protected void CreateTrip()
    {
        Http.SendJsonAsync(HttpMethod.Post, "/api/Trips/Create", trip);
        StateHasChanged();
        UriHelper.NavigateTo("tripsindex");
    }

    void Cancel()
    {
        UriHelper.NavigateTo("tripsindex");
    }
}